<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Google Visualization API Sample
    </title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {packages: ['corechart']});
    </script>
    <script type="text/javascript">

    function drawVisualization() {
      // Create and populate the data table.
      var counts = {{counts}};
      // Format counts for bar chart.
      counts.splice(0,0,'');
      //alert(counts);
        var data = google.visualization.arrayToDataTable([
          ['', 'Whiskey Sour', 'Tequila Sunrise', 'Cosmopolitan', 'Custom Drinks', 'Green Widow', 'Green Monster', 'Bay Breeze', 'Screwdriver', 'Margarita'],
          counts
        ]);

        // Set chart options.
        var options = {title:"Drink Count by Type",
                  width:900, height:600};

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      
      }

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawVisualization);

    </script>
  </head>
  <body style="font-family: Arial;border: 0 none;">
    <div id="chart_div" style="width: 600px; height: 400px;"></div>
  </body>
</html>